<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-09-13T11:04:55Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>File Sharing</string>
	<key>description</key>
	<string>Dropbox is a free service that lets you bring all your photos, docs, and videos anywhere. This means that any file you save to your Dropbox will automatically save to all your computers, phones and even the Dropbox website.</string>
	<key>developer</key>
	<string>Dropbox</string>
	<key>display_name</key>
	<string>Dropbox</string>
	<key>installer_item_hash</key>
	<string>ef7a78fc1973013cf27650eb7b13086aa1081d7aeadf5b2ded88c33f72f96ea9</string>
	<key>installer_item_location</key>
	<string>apps/Dropbox/Dropbox-10.4.25.dmg</string>
	<key>installer_item_size</key>
	<integer>92375</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.getdropbox.dropbox</string>
			<key>CFBundleName</key>
			<string>Dropbox</string>
			<key>path</key>
			<string>/Applications/Dropbox.app</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Dropbox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6</string>
	<key>name</key>
	<string>Dropbox</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
# based on Ruby postinstall script by Riley Shott:
# https://groups.google.com/group/munki-dev/browse_thread/thread/a2813e7f62535f13/63d127534541f863
# modifications:
# - always extract the helper tool with each install instead of skipping if it exists
# - remove xattr com.apple.quarantine removal, as Munki will have already done this upon
#   installation; normal autopkg runs also won't quarantine the download to begin with

HELPER_SRC_PATH=/Applications/Dropbox.app/Contents/Resources/DropboxHelperInstaller.tgz
HELPER_DST_DIR=/Library/DropboxHelperTools
HELPER_DST_PATH="$HELPER_DST_DIR/DropboxHelperInstaller"

if [ -e "$HELPER_SRC_PATH" ]; then
  [ -d "$HELPER_DST_DIR" ] || mkdir "$HELPER_DST_DIR"
  /usr/bin/tar -C "$HELPER_DST_DIR" -xz -f "$HELPER_SRC_PATH"
  /bin/chmod 04511 "$HELPER_DST_PATH"
  /usr/sbin/chown root:wheel "$HELPER_DST_PATH"
else
  echo "Expected $HELPER_SRC_PATH, but it was not present in the Dropbox dmg."
  exit 1
fi
</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.4.25</string>
</dict>
</plist>
