<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-02-13T20:15:09Z</date>
		<key>munki_version</key>
		<string>2.2.0.2399</string>
		<key>os_version</key>
		<string>10.10.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>CertAid 2.x manages the entire certificate setup procedure for Safari and Google Chrome browsers on Mac OS X 10.7 and up, giving users a more reliable installation experience.

The setup procedure includes installing the MIT CA as well as the user's personal certificate, optionally deleting old certificates, and setting the correct identity preferences via a single, graphical application. If you need to retain access to old user certificates, e.g., for access to encrypted mail, you should not delete them.</string>
	<key>category</key>
	<string>Security</string>
	<key>developer</key>
	<string>MIT IS&amp;T</string>
	<key>display_name</key>
	<string>CertAid</string>
	<key>installer_item_hash</key>
	<string>5fcaf96085a3e636677c5cf0f48e85ecbb0d1cb31a8042289e1d7a81a689cfce</string>
	<key>installer_item_location</key>
	<string>apps/CertAid/CertAid-2.2.2.dmg</string>
	<key>installer_item_size</key>
	<integer>1134</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>edu.mit.CertAid</string>
			<key>CFBundleName</key>
			<string>CertAid</string>
			<key>CFBundleShortVersionString</key>
			<string>2.2.2</string>
			<key>CFBundleVersion</key>
			<string>2.2.2</string>
			<key>minosversion</key>
			<string>10.6</string>
			<key>path</key>
			<string>/Applications/CertAid.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>CertAid.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6</string>
	<key>name</key>
	<string>CertAid</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.2.2</string>
</dict>
</plist>
