<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-10-05T10:00:30Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Evernote makes it easy to remember things big and small from your everyday life using your computer, phone, tablet and the web.</string>
	<key>display_name</key>
	<string>Evernote</string>
	<key>installer_item_hash</key>
	<string>cf1166c299cac178dc58f76827481df1d99be93d61ee83485428bd792f7b3b41</string>
	<key>installer_item_location</key>
	<string>apps/Evernote/Evernote-6.9.2.dmg</string>
	<key>installer_item_size</key>
	<integer>69440</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.evernote.Evernote</string>
			<key>CFBundleName</key>
			<string>Evernote</string>
			<key>CFBundleShortVersionString</key>
			<string>6.9.2</string>
			<key>CFBundleVersion</key>
			<string>454158</string>
			<key>minosversion</key>
			<string>10.10</string>
			<key>path</key>
			<string>/Applications/Evernote.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Evernote.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10</string>
	<key>name</key>
	<string>Evernote</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.9.2</string>
</dict>
</plist>
