<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeSetupType</key>
	<string>ProductInstall</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-01-05T20:08:52Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Design</string>
	<key>description</key>
	<string>The world’s most complete toolset for web designers and front-end developers lets you create, code and manage websites that look amazing on any size screen.</string>
	<key>developer</key>
	<string>Adobe</string>
	<key>display_name</key>
	<string>Adobe Dreamweaver</string>
	<key>installed_size</key>
	<integer>916728</integer>
	<key>installer_item_hash</key>
	<string>7f89d5100f1f9af4df25ce3ba7f7ec9536b2100b6fedd77f0f3d197aaabf0576</string>
	<key>installer_item_location</key>
	<string>apps/adobe/dreamweaver/MIT_Dreamweaver_Install-16.0.0.dmg</string>
	<key>installer_item_size</key>
	<integer>767124</integer>
	<key>installer_type</key>
	<string>AdobeCCPInstaller</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Library/Application Support/Adobe/Uninstall/{EE2A0AA8-0386-11E5-8603-BC82F5DB1A71}.db</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>AdobeDreamweaver</string>
	<key>payloads</key>
	<array>
		<dict>
			<key>AdobeCode</key>
			<string>{15D3309E-1E66-11E5-9869-DF52AB687CA6}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015</string>
			<key>installed_size</key>
			<integer>839475</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{5097FC1E-1E66-11E5-9869-865CCBC4106A}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (cs_CZ)</string>
			<key>installed_size</key>
			<integer>5663</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{594AA7EE-1E66-11E5-9869-DBD0B718A266}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (de_DE)</string>
			<key>installed_size</key>
			<integer>6011</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{4677F1BB-1E66-11E5-9869-994EB5969077}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (en_US)</string>
			<key>installed_size</key>
			<integer>5395</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{495D4634-1E66-11E5-9869-8A7EF884A29E}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (es_ES)</string>
			<key>installed_size</key>
			<integer>5998</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{54EEEC01-1E66-11E5-9869-9A5242C42EBC}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (fr_FR)</string>
			<key>installed_size</key>
			<integer>6118</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{47EBB272-1E66-11E5-9869-F9E4863576A0}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (it_IT)</string>
			<key>installed_size</key>
			<integer>5931</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{45048E4E-1E66-11E5-9869-BEAAAD3D1C06}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (ja_JP)</string>
			<key>installed_size</key>
			<integer>4533</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{52098FE0-1E66-11E5-9869-AB64E7B8346D}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (nl_NL)</string>
			<key>installed_size</key>
			<integer>5859</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{4AD0629D-1E66-11E5-9869-FCD6677DE898}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (pl_PL)</string>
			<key>installed_size</key>
			<integer>5832</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{5ABD3F05-1E66-11E5-9869-B298C44C985C}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (pt_BR)</string>
			<key>installed_size</key>
			<integer>5854</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{4F26680C-1E66-11E5-9869-C80E9109286B}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (ru_RU)</string>
			<key>installed_size</key>
			<integer>5839</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{566775D4-1E66-11E5-9869-EEAAAF8A945C}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (sv_SE)</string>
			<key>installed_size</key>
			<integer>5601</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{4C42D6DD-1E66-11E5-9869-C49CE716A296}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (tr_TR)</string>
			<key>installed_size</key>
			<integer>5604</integer>
			<key>version</key>
			<string>16.0.1</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{EE2A0AA8-0386-11E5-8603-BC82F5DB1A71}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>16.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F91CA615-0386-11E5-8603-B06C58970663}</string>
			<key>display_name</key>
			<string>Adobe Dreamweaver CC 2015 LangPack (en_US)</string>
			<key>installed_size</key>
			<integer>3015</integer>
			<key>version</key>
			<string>16.0.0</string>
		</dict>
	</array>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adobe.dreamweaver-16.0</string>
			<key>CFBundleName</key>
			<string>Dreamweaver CC</string>
			<key>CFBundleShortVersionString</key>
			<string>16.0.1.7714</string>
			<key>CFBundleVersion</key>
			<string>16.0.1.7714</string>
			<key>path</key>
			<string>/Applications/Adobe Dreamweaver CC 2015/Adobe Dreamweaver CC 2015.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>16.0.0</string>
</dict>
</plist>
