<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>AnyConnect Secure Mobility Client</string>
	<key>installed_size</key>
	<integer>12108</integer>
	<key>installer_item_hash</key>
	<string>7960b3f49cf50a4dbe1f599719681907634eb7a895a9bd671b493c97dbfa0c84</string>
	<key>installer_item_location</key>
	<string>CiscoAnyConnectVPN-3.1.02026.dmg</string>
	<key>installer_item_size</key>
	<integer>4742</integer>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>CiscoAnyConnectVPN</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.1</string>
			<key>CFBundleVersion</key>
			<string>1</string>
			<key>path</key>
			<string>./Applications/Cisco/Cisco AnyConnect Secure Mobility Client.app/Contents/Info.plist</string>
			<key>type</key>
			<string>plist</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleVersion</key>
			<string>3.1.02026</string>
			<key>path</key>
			<string>./Applications/Cisco/Uninstall AnyConnect.app/Contents/Info.plist</string>
			<key>type</key>
			<string>plist</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<dict>
			<key>CFBundleVersion</key>
			<string>1.1.0</string>
			<key>path</key>
			<string>./System/Library/Extensions/acsock.kext/Contents/Info.plist</string>
			<key>type</key>
			<string>plist</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<dict>
			<key>CFBundleVersion</key>
			<string>3.1.02026</string>
			<key>path</key>
			<string>./opt/cisco/anyconnect/bin/vpndownloader.app/Contents/Info.plist</string>
			<key>type</key>
			<string>plist</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>12108</integer>
			<key>packageid</key>
			<string>com.cisco.pkg.anyconnect.vpn</string>
			<key>version</key>
			<string>3.1.02026</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>3.1.02026</string>
</dict>
</plist>
