<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Citrix is a universal client for accessing desktop applications via a server solution. MIT's Citrix implementation allows Mac OS X users to access Windows-only enterprise applications, such as BrioQuery, CCure, Adonis and SAPgui.</string>
	<key>display_name</key>
	<string>Citrix Receiver</string>
	<key>installed_size</key>
	<integer>77813</integer>
	<key>installer_item_hash</key>
	<string>383c933b4330e046810ce56dc882491b2d9deebafd74d23e842638698ab59cd2</string>
	<key>installer_item_location</key>
	<string>CitrixReceiverWeb-11.8.0.dmg</string>
	<key>installer_item_size</key>
	<integer>24604</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>CitrixReceiver</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>77813</integer>
			<key>packageid</key>
			<string>com.citrix.ICAClient</string>
			<key>version</key>
			<string>11.8.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.8.0</string>
</dict>
</plist>
