<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-05-13T15:29:25Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Backup client.</string>
	<key>display_name</key>
	<string>CrashPlan</string>
	<key>installed_size</key>
	<integer>115156</integer>
	<key>installer_item_hash</key>
	<string>ac09cc7c1073ccdb54b1d05165101478869d9e57155edbf7ca6a6970b78e68c1</string>
	<key>installer_item_location</key>
	<string>CrashPlanPRO_3.6.3_Mac-3.6.3.dmg</string>
	<key>installer_item_size</key>
	<integer>51297</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>CrashPlanPro</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.backup42.desktop</string>
			<key>CFBundleName</key>
			<string>CrashPlan</string>
			<key>CFBundleShortVersionString</key>
			<string>3.6.3</string>
			<key>CFBundleVersion</key>
			<string>3.6.3</string>
			<key>path</key>
			<string>/Applications/CrashPlan.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.code42.b42menuextra</string>
			<key>CFBundleName</key>
			<string>CrashPlan menu bar</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>CFBundleVersion</key>
			<string>1.0</string>
			<key>minosversion</key>
			<string>10.5</string>
			<key>path</key>
			<string>/Applications/CrashPlan.app/Contents/Resources/CrashPlan menu bar.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.crashplan.runasuser.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>115156</integer>
			<key>packageid</key>
			<string>com.crashplan.app.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.6.3</string>
</dict>
</plist>
