<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>installer_item_hash</key>
	<string>3ddf14f8a531ed292dcd79589117825bbfb51c5eea33144c46660c460f77bd76</string>
	<key>installer_item_location</key>
	<string>Dropbox-2.0.26.dmg</string>
	<key>installer_item_size</key>
	<integer>28649</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.getdropbox.dropbox</string>
			<key>CFBundleName</key>
			<string>Dropbox</string>
			<key>CFBundleShortVersionString</key>
			<string>Dropbox 2.0.26</string>
			<key>CFBundleVersion</key>
			<string>2.0.26</string>
			<key>path</key>
			<string>/Applications/Dropbox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>group</key>
			<string>admin</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>Dropbox.app</string>
			<key>user</key>
			<string>root</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>Dropbox</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>2.0.26</string>
</dict>
</plist>
