<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Java 7</string>
	<key>installed_size</key>
	<integer>75873</integer>
	<key>installer_item_hash</key>
	<string>b10cac904a28be56b898563756caa99c2d484da605d2f7aa12547a4850b4fda5</string>
	<key>installer_item_location</key>
	<string>Java6-1.0.0.0.1.1247562015.dmg</string>
	<key>installer_item_size</key>
	<integer>65552</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.JarLauncher</string>
			<key>CFBundleName</key>
			<string>Jar Launcher</string>
			<key>CFBundleShortVersionString</key>
			<string>14.8.0</string>
			<key>CFBundleVersion</key>
			<string>14.8.0</string>
			<key>minosversion</key>
			<string>10.7.0</string>
			<key>path</key>
			<string>/System/Library/CoreServices/Jar Launcher.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.JavaWebStart</string>
			<key>CFBundleName</key>
			<string>Java Web Start</string>
			<key>CFBundleShortVersionString</key>
			<string>14.8.0</string>
			<key>CFBundleVersion</key>
			<string>14.8.0</string>
			<key>minosversion</key>
			<string>10.7.0</string>
			<key>path</key>
			<string>/System/Library/CoreServices/Java Web Start.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mrt.uiagent</string>
			<key>CFBundleName</key>
			<string>MRTAgent</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1</string>
			<key>CFBundleVersion</key>
			<string>1</string>
			<key>minosversion</key>
			<string>10.7</string>
			<key>path</key>
			<string>/System/Library/CoreServices/MRTAgent.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.java.DownloadComponents</string>
			<key>CFBundleName</key>
			<string>Download Java Components</string>
			<key>CFBundleShortVersionString</key>
			<string>14.8.0</string>
			<key>CFBundleVersion</key>
			<string>14.8.0</string>
			<key>path</key>
			<string>/System/Library/Java/Support/CoreDeploy.bundle/Contents/Download Java Components.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.8.0</string>
			<key>CFBundleVersion</key>
			<string>14.8.0</string>
			<key>path</key>
			<string>/System/Library/Java/Support/CoreDeploy.bundle/Contents/JavaAppletPlugin.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.8.0</string>
			<key>CFBundleVersion</key>
			<string>14.8.0</string>
			<key>path</key>
			<string>/System/Library/Java/Support/Deploy.bundle/Contents/Resources/JavaPlugin2_NPAPI.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>Java6</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>36934</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaEssentials</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>77966</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaForMacOSX107</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>206</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaMDNS</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1626</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaSecurity</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>1.0.0.0.1.1247562015</string>
</dict>
</plist>
