<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>VMware Fusion is a desktop application that lets you create and run virtual machines on your Intel-based Macintosh.</string>
	<key>display_name</key>
	<string>VMware Fusion</string>
	<key>installer_item_hash</key>
	<string>81f1070eaf10dc50439e41fce5fa39b255c836100a786e2e77cc714c16c2af39</string>
	<key>installer_item_location</key>
	<string>VMwareFusion-5.0.3.dmg</string>
	<key>installer_item_size</key>
	<integer>229797</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmware.fusion</string>
			<key>CFBundleName</key>
			<string>VMware Fusion</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0.3</string>
			<key>CFBundleVersion</key>
			<string>1040386</string>
			<key>minosversion</key>
			<string>10.6.7</string>
			<key>path</key>
			<string>Applications/VMware Fusion.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmware.installHelper.gettingstarted</string>
			<key>CFBundleName</key>
			<string>Getting Started</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0.3</string>
			<key>CFBundleVersion</key>
			<string>1040386</string>
			<key>path</key>
			<string>Applications/VMware Fusion.app/Contents/Library/Getting Started.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmware.fusionStartMenu</string>
			<key>CFBundleName</key>
			<string>VMware Fusion Start Menu</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0.3</string>
			<key>CFBundleVersion</key>
			<string>1040386</string>
			<key>path</key>
			<string>Applications/VMware Fusion.app/Contents/Library/VMware Fusion Start Menu.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>VMwareFusion</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.vmware.fusion.pkg.massdeploy</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>5.0.3</string>
</dict>
</plist>
