<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Xcode is Apple's powerful integrated development environment for creating apps for Mac, iPhone, and iPad. Xcode includes the Instruments analysis tool, iOS Simulator, and the latest SDKs for iOS and OS X.</string>
	<key>display_name</key>
	<string>Xcode</string>
	<key>installer_item_hash</key>
	<string>07c454db2e7b09c7607df33b2d1d7cd3b04cdd9dfcbf9719db0bd0b0e310b69f</string>
	<key>installer_item_location</key>
	<string>xcode4630916281a-4.6.3.dmg</string>
	<key>installer_item_size</key>
	<integer>1683414</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.dt.Xcode</string>
			<key>CFBundleName</key>
			<string>Xcode</string>
			<key>CFBundleShortVersionString</key>
			<string>4.6.3</string>
			<key>CFBundleVersion</key>
			<string>2068</string>
			<key>minosversion</key>
			<string>10.7.4</string>
			<key>path</key>
			<string>/Applications/Xcode.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Xcode.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.4</string>
	<key>name</key>
	<string>Xcode</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.6.3</string>
</dict>
</plist>
