<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>This package enables UNIX-style development via Terminal by installing command line developer tools, as well as Mac OS X SDK frameworks and headers. Many useful tools are included, such as the Apple LLVM compiler, linker, and Make.</string>
	<key>display_name</key>
	<string>Xcode Commeand Line Tools</string>
	<key>installed_size</key>
	<integer>165067</integer>
	<key>installer_item_hash</key>
	<string>b92615b14b47f7f372c2e7c7d8a36524bb895108cd9c1d3853d0802ec2c97d91</string>
	<key>installer_item_location</key>
	<string>xcode461_cltools_10_86938245a-10.8.0.0.1.1306847324.dmg</string>
	<key>installer_item_size</key>
	<integer>115626</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>XcodeCommandLineTools</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>238426</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevSDK</string>
			<key>version</key>
			<string>10.8.0.0.1.1306847324</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>253950</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsCLI</string>
			<key>version</key>
			<string>4.6.0.0.1.1362189000</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.8.0.0.1.1306847324</string>
</dict>
</plist>
