<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeSetupType</key>
	<string>ProductInstall</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-01-05T20:25:24Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Video</string>
	<key>description</key>
	<string>With the industry-leading video production toolset, you can work across desktop and devices to edit virtually any type of media in its native format and create professional productions with brilliant color for film, TV and web.</string>
	<key>developer</key>
	<string>Adobe</string>
	<key>display_name</key>
	<string>Adobe Premiere</string>
	<key>installed_size</key>
	<integer>3305601</integer>
	<key>installer_item_hash</key>
	<string>660f6d8c252ffc285b922cd58a577d1dcb2d4df1e2510a33400f313b9030ffbd</string>
	<key>installer_item_location</key>
	<string>apps/adobe/premiere/MIT_Premiere_Install-9.0.0.dmg</string>
	<key>installer_item_size</key>
	<integer>1758091</integer>
	<key>installer_type</key>
	<string>AdobeCCPInstaller</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Library/Application Support/Adobe/Uninstall/{38C72D42-0672-43B1-9E05-E7631684F9A1}.db</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>AdobePremiere</string>
	<key>payloads</key>
	<array>
		<dict>
			<key>AdobeCode</key>
			<string>{D2714BC6-7C54-477E-844A-FE5BF1EC83D7}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CC 2015</string>
			<key>installed_size</key>
			<integer>3305601</integer>
			<key>version</key>
			<string>9.0.2</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{0FBCC7E1-F5E8-476A-BAE2-E25A2AEF75F2}</string>
			<key>display_name</key>
			<string>Adobe Fonts Recommended</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{9A49EAB8-6664-4164-9323-49CA9E9C5E0C}</string>
			<key>display_name</key>
			<string>Adobe Fonts Required</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{38C72D42-0672-43B1-9E05-E7631684F9A1}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CC 2015</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>9.0.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{680E4F59-F58F-405B-87FB-2C442D1495FE}</string>
			<key>display_name</key>
			<string>Adobe Premiere Pro CC 2015 LangPack (en_US) </string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>9.0.0</string>
		</dict>
	</array>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>9.0.0</string>
</dict>
</plist>
