<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Adobe® Flash® Player is a cross-platform browser-based application runtime that delivers uncompromised viewing of expressive applications, content, and videos across screens and browsers.</string>
	<key>display_name</key>
	<string>Adobe Flash Player</string>
	<key>installed_size</key>
	<integer>18793</integer>
	<key>installer_item_hash</key>
	<string>be0f3277630ea2eee08b75ff59d0692d0af25e989e228905f0c9a5eb8772b060</string>
	<key>installer_item_location</key>
	<string>internet_plugins/AdobeFlashPlayer-11.9.900.117.dmg</string>
	<key>installer_item_size</key>
	<integer>17974</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>AdobeFlashPlayer</string>
	<key>package_path</key>
	<string>Install Adobe Flash Player.app/Contents/Resources/Adobe Flash Player.pkg</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>18793</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.FlashPlayer</string>
			<key>version</key>
			<string>11.9.900.117</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.9.900.117</string>
</dict>
</plist>
