<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-03-24T00:43:20Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Internet Plugin</string>
	<key>description</key>
	<string>Adobe® Flash® Player is a cross-platform browser-based application runtime that delivers uncompromised viewing of expressive applications, content, and videos across screens and browsers.</string>
	<key>developer</key>
	<string>Adobe</string>
	<key>display_name</key>
	<string>Adobe Flash Player</string>
	<key>installed_size</key>
	<integer>18074</integer>
	<key>installer_item_hash</key>
	<string>50d7277ba473e413d70d6d5dc5ec50fe486f1ac40d3641d88cd4c1d32ff9d4cf</string>
	<key>installer_item_location</key>
	<string>internet_plugins/AdobeFlashPlayer-21.0.0.197.dmg</string>
	<key>installer_item_size</key>
	<integer>17262</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>AdobeFlashPlayer</string>
	<key>package_path</key>
	<string>Install Adobe Flash Player.app/Contents/Resources/Adobe Flash Player.pkg</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>18074</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.FlashPlayer</string>
			<key>version</key>
			<string>21.0.0.197</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>21.0.0.197</string>
</dict>
</plist>
