<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-09-23T16:04:12Z</date>
		<key>munki_version</key>
		<string>2.3.0.2519</string>
		<key>os_version</key>
		<string>10.10.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Command-line Managed Software Center admin tools.</string>
	<key>display_name</key>
	<string>Managed Software Center admin tools</string>
	<key>installed_size</key>
	<integer>142</integer>
	<key>installer_item_hash</key>
	<string>1e0bf11d44f6bda97d8e09ce43123b749fcd561d83a3a0c33e0c036aa9fd5131</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_admin-2.3.1.2535.pkg</string>
	<key>installer_item_size</key>
	<integer>32</integer>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>munkitools_admin</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>142</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>2.3.1.2535</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>version</key>
	<string>2.3.1.2535</string>
</dict>
</plist>
