<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-09-18T18:43:06Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
	</array>
	<key>description</key>
	<string>launchd configuration files for use by Managed Software Center.</string>
	<key>display_name</key>
	<string>Managed Software Center launchd files</string>
	<key>installed_size</key>
	<integer>9</integer>
	<key>installer_item_hash</key>
	<string>666c7c5f4f98028e3410cf2eeff258f05d8234470880ca29752ceab9465f96fb</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_launchd-2.0.0.1969.pkg</string>
	<key>installer_item_size</key>
	<integer>2</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_launchd</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>9</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>2.0.0.1969</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.0.0.1969</string>
</dict>
</plist>
