<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireLogout</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Managed Software Update</string>
	<key>installed_size</key>
	<integer>1512</integer>
	<key>installer_item_hash</key>
	<string>b1fa1117d325f4d0f478fc69eb59a6811b02499ccf5363c0ac160abd59392a7c</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools-0.9.0.1803.0.dmg</string>
	<key>installer_item_size</key>
	<integer>886</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>munkitools_app</string>
	<key>package_path</key>
	<string>munkitools-0.9.0.1803.0.mpkg/Contents/Packages/munkitools_app-3.5.2.1803.pkg</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>munkitools_app-3.5.2.1803.pkg</string>
			<key>installed_size</key>
			<integer>1512</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>3.5.2.1803</string>
		</dict>
	</array>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.googlecode.munki.ManagedSoftwareUpdate</string>
			<key>CFBundleName</key>
			<string>Managed Software Update</string>
			<key>CFBundleShortVersionString</key>
			<string>3.6.0.1864</string>
			<key>CFBundleVersion</key>
			<string>1864</string>
			<key>path</key>
			<string>/Applications/Utilities/Managed Software Update.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>3.5.2.1803</string>
</dict>
</plist>
