<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-10-01T11:06:30Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
	</array>
	<key>description</key>
	<string>Command-line Managed Software Center admin tools.</string>
	<key>display_name</key>
	<string>Managed Software Center admin tools</string>
	<key>installed_size</key>
	<integer>130</integer>
	<key>installer_item_hash</key>
	<string>2a08e36490064c84cdb32d8bae9fbae77c381bf6765cffc1e8c9844561cb93ca</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_admin-2.0.0.2231.pkg</string>
	<key>installer_item_size</key>
	<integer>28</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_admin</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>130</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>2.0.0.2231</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>version</key>
	<string>2.0.0.2231</string>
</dict>
</plist>
