<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-03-03T04:41:46Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Command-line Managed Software Center admin tools.</string>
	<key>display_name</key>
	<string>Managed Software Center admin tools</string>
	<key>installed_size</key>
	<integer>142</integer>
	<key>installer_item_hash</key>
	<string>d117d9fcbeceaac1d379ae93a848f087d3576b53ee33e23d066086345570de0a</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_admin-2.5.1.2627.pkg</string>
	<key>installer_item_size</key>
	<integer>32</integer>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>munkitools_admin</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>142</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>2.5.1.2627</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>version</key>
	<string>2.5.1.2627</string>
</dict>
</plist>
