<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-06-15T19:22:03Z</date>
		<key>munki_version</key>
		<string>2.7.0.2753</string>
		<key>os_version</key>
		<string>10.11.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Command-line Managed Software Center admin tools.</string>
	<key>display_name</key>
	<string>Managed Software Center admin tools</string>
	<key>installed_size</key>
	<integer>154</integer>
	<key>installer_item_hash</key>
	<string>9509d964ffc852ffdf61078157196712d3e7bd65147742d7767fc4b765070106</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_admin-2.7.1.2764.pkg</string>
	<key>installer_item_size</key>
	<integer>36</integer>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>munkitools_admin</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>154</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>2.7.1.2764</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>munkitools_core</string>
	</array>
	<key>version</key>
	<string>2.7.1.2764</string>
</dict>
</plist>
