<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-10-08T11:02:26Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
	</array>
	<key>description</key>
	<string>Core command-line tools used by Managed Software Center.</string>
	<key>display_name</key>
	<string>Managed Software Center core tools</string>
	<key>installed_size</key>
	<integer>579</integer>
	<key>installer_item_hash</key>
	<string>070d191fec40c559316ee54b1345179ff1df4347bbdfb2089e44f5e29a400695</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_core-2.0.0.2238.pkg</string>
	<key>installer_item_size</key>
	<integer>128</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_core</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>579</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>2.0.0.2238</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.0.0.2238</string>
</dict>
</plist>
