<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-01-10T12:03:45Z</date>
		<key>munki_version</key>
		<string>2.1.0.2349</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>development</string>
	</array>
	<key>description</key>
	<string>Core command-line tools used by Managed Software Center.</string>
	<key>display_name</key>
	<string>Managed Software Center core tools</string>
	<key>installed_size</key>
	<integer>618</integer>
	<key>installer_item_hash</key>
	<string>e6af55aec149c34cbb935af45e6949d1b064cfc0e40c4f7423ba7eee13a51e59</string>
	<key>installer_item_location</key>
	<string>munkitools/munkitools_core-2.1.1.2352.pkg</string>
	<key>installer_item_size</key>
	<integer>137</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools_core</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>618</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>2.1.1.2352</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1.1.2352</string>
</dict>
</plist>
