<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AdobeSetupType</key>
		<string>ProductInstall</string>
		<key>_metadata</key>
		<dict>
			<key>created_by</key>
			<string>mcneal</string>
			<key>creation_date</key>
			<date>2016-01-05T20:13:54Z</date>
			<key>munki_version</key>
			<string>2.4.0.2561</string>
			<key>os_version</key>
			<string>10.11.2</string>
		</dict>
		<key>autoremove</key>
		<false/>
		<key>catalogs</key>
		<array>
			<string>production</string>
		</array>
		<key>category</key>
		<string>Design</string>
		<key>description</key>
		<string>The industry-standard vector graphics app lets you create logos, icons, sketches, typography and complex illustrations for print, web, interactive, video and mobile.</string>
		<key>developer</key>
		<string>Adobe</string>
		<key>display_name</key>
		<string>Adobe Illustrator</string>
		<key>installed_size</key>
		<integer>1313527</integer>
		<key>installer_item_hash</key>
		<string>1ee707d70a372d352d67b3eb59758b01183964d8df4afd45889c5646c58aeb2d</string>
		<key>installer_item_location</key>
		<string>apps/adobe/illustrator/MIT_Illustrator_Install-19.0.dmg</string>
		<key>installer_item_size</key>
		<integer>1076017</integer>
		<key>installer_type</key>
		<string>AdobeCCPInstaller</string>
		<key>installs</key>
		<array>
			<dict>
				<key>path</key>
				<string>/Library/Application Support/Adobe/Uninstall/{D467C6EE-6F62-478D-935C-A31AB179F36E}.db</string>
				<key>type</key>
				<string>file</string>
			</dict>
		</array>
		<key>minimum_os_version</key>
		<string>10.6.8</string>
		<key>name</key>
		<string>AdobeIllustrator</string>
		<key>payloads</key>
		<array>
			<dict>
				<key>AdobeCode</key>
				<string>{F64B04D3-1683-4209-B095-AD071AE0C877}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015</string>
				<key>installed_size</key>
				<integer>1093319</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{33161498-6BE4-4961-B083-649168E87F88}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (cs_CZ)</string>
				<key>installed_size</key>
				<integer>6635</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{5FB8FE75-38F0-4281-93FE-F2F90176F470}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (da_DK)</string>
				<key>installed_size</key>
				<integer>6722</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{FA58732C-0B06-49C4-AB80-FA729F5DDB22}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (de_DE)</string>
				<key>installed_size</key>
				<integer>7210</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{B8F440B1-694E-4184-BEBF-80B37DD5D929}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (en_AE)</string>
				<key>installed_size</key>
				<integer>6450</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{83F503EA-80DC-4879-A432-A2A90E4C2C0A}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (en_GB)</string>
				<key>installed_size</key>
				<integer>6559</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{2FEFB1E6-DC54-46BB-B635-FC599D397AD6}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (en_IL)</string>
				<key>installed_size</key>
				<integer>6450</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{8F4F5538-25B3-459F-B58E-9E71A504313A}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (en_US)</string>
				<key>installed_size</key>
				<integer>65</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{3C0900E1-7785-4A82-9CA5-0B20A113B7A9}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (es_ES)</string>
				<key>installed_size</key>
				<integer>7018</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{A62244F2-9CD8-4B64-9188-7D4DFD64D113}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (es_MX)</string>
				<key>installed_size</key>
				<integer>7018</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{4E23E852-A649-4B78-954E-0CA6DBADA28F}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (fr_CA)</string>
				<key>installed_size</key>
				<integer>7214</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{C37C7554-E90C-4F84-90AB-9976CD762586}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (fr_FR)</string>
				<key>installed_size</key>
				<integer>7214</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{E3DFA89B-648D-4243-ACDD-D9F5F80AF5FB}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (fr_MA)</string>
				<key>installed_size</key>
				<integer>7205</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{C45D0586-6ECB-4B76-93E0-7CBB824BB74B}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (hu_HU)</string>
				<key>installed_size</key>
				<integer>6863</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{CB9CD55F-EB61-4F01-85E2-F5F4267BFD05}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (it_IT)</string>
				<key>installed_size</key>
				<integer>6992</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{0BDF7F39-C344-4FB9-81BA-9DC8A0B08F96}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (ja_JP)</string>
				<key>installed_size</key>
				<integer>5659</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{F507D26A-4F3E-4085-894E-634B21DED786}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (ko_KR)</string>
				<key>installed_size</key>
				<integer>5489</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{01624BE4-767F-4A0F-A316-22204B1341C2}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (nl_NL)</string>
				<key>installed_size</key>
				<integer>7374</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{EA731DF2-52B7-40CC-9836-477BEE50E3B6}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (pl_PL)</string>
				<key>installed_size</key>
				<integer>6858</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{08E74573-28FC-47AF-B88B-808977F5CB52}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (pt_BR)</string>
				<key>installed_size</key>
				<integer>6940</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{C6D29940-5647-4533-B0E1-9158C7EBB507}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (ru_RU)</string>
				<key>installed_size</key>
				<integer>6990</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{BAC13F47-7316-409A-B12C-F9B38041FFDE}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (sv_SE)</string>
				<key>installed_size</key>
				<integer>6655</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{00B979F0-FD4F-4FDC-BF43-7EECEA99AE24}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (tr_TR)</string>
				<key>installed_size</key>
				<integer>6661</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{8131A545-7A13-4301-B941-2A62B4977FB7}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (uk_UA)</string>
				<key>installed_size</key>
				<integer>6905</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{0EBC2103-34C9-4F77-8FDD-48247A844EC9}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (zh_CN)</string>
				<key>installed_size</key>
				<integer>5071</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{086ACEBD-BAFC-47D2-88E5-3CE0A2C79C1E}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (zh_TW)</string>
				<key>installed_size</key>
				<integer>5095</integer>
				<key>version</key>
				<string>19.1.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
				<key>display_name</key>
				<string>AdobeColorCommonSetCMYK</string>
				<key>installed_size</key>
				<integer>0</integer>
				<key>version</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
				<key>display_name</key>
				<string>AdobeColorCommonSetRGB</string>
				<key>installed_size</key>
				<integer>0</integer>
				<key>version</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{F6DED2DA-1D20-497E-8810-E745B45DCD28}</string>
				<key>display_name</key>
				<string>Adobe Color EU Extra Settings CC</string>
				<key>installed_size</key>
				<integer>1976</integer>
				<key>version</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{A032EB9D-B6EB-45BF-9F15-83B0755DC9AB}</string>
				<key>display_name</key>
				<string>Adobe Color JA Extra Settings CC</string>
				<key>installed_size</key>
				<integer>2799</integer>
				<key>version</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{AB955DCF-69CD-4840-B7FB-F318CDD0AE44}</string>
				<key>display_name</key>
				<string>Adobe Color NA Recommended Settings CC</string>
				<key>installed_size</key>
				<integer>2333</integer>
				<key>version</key>
				<string>5.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{D467C6EE-6F62-478D-935C-A31AB179F36E}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015</string>
				<key>installed_size</key>
				<integer>0</integer>
				<key>version</key>
				<string>19.0</string>
			</dict>
			<dict>
				<key>AdobeCode</key>
				<string>{819851C5-3910-4792-8BE5-76CC4200C153}</string>
				<key>display_name</key>
				<string>Adobe Illustrator CC 2015 LangPack (en_US)</string>
				<key>installed_size</key>
				<integer>53788</integer>
				<key>version</key>
				<string>19.0</string>
			</dict>
		</array>
		<key>installs</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.adobe.illustrator</string>
				<key>CFBundleName</key>
				<string>Illustrator CC</string>
				<key>CFBundleShortVersionString</key>
				<string>19.1.0</string>
				<key>CFBundleVersion</key>
				<string>19.1.0</string>
				<key>minosversion</key>
				<string>10.4.6</string>
				<key>path</key>
				<string>/Applications/Adobe Illustrator CC 2015/Adobe Illustrator.app</string>
				<key>type</key>
				<string>application</string>
				<key>version_comparison_key</key>
				<string>CFBundleShortVersionString</string>
			</dict>
		</array>
		<key>uninstallable</key>
		<false/>
		<key>version</key>
		<string>19.0</string>
	</dict>
</plist>
