<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-06-23T17:50:12Z</date>
		<key>munki_version</key>
		<string>2.2.0.2399</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Developer</string>
	<key>description</key>
	<string>R is a language and environment for statistical computing and graphics which provides a wide variety of statistical and graphical techniques: linear and nonlinear modelling, statistical tests, time series analysis, classification, clustering, etc.</string>
	<key>developer</key>
	<string>R Foundation</string>
	<key>display_name</key>
	<string>R for Mac OS X</string>
	<key>installed_size</key>
	<integer>150016</integer>
	<key>installer_item_hash</key>
	<string>88b9a20af00a916f3902ccac83098643b95a2801eb4775d38130b26871323a3f</string>
	<key>installer_item_location</key>
	<string>apps/R/R-3.2.1.pkg</string>
	<key>installer_item_size</key>
	<integer>70122</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.R-project.R</string>
			<key>CFBundleName</key>
			<string>R</string>
			<key>CFBundleShortVersionString</key>
			<string>R 3.2.1 GUI 1.66 Snow Leopard build</string>
			<key>CFBundleVersion</key>
			<string>6956</string>
			<key>minosversion</key>
			<string>MIN_VERSION</string>
			<key>path</key>
			<string>/Applications/R.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<dict>
			<key>CFBundleVersion</key>
			<string>3.2.1</string>
			<key>path</key>
			<string>/Library/Frameworks/R.framework</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>R</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>36448</integer>
			<key>packageid</key>
			<string>org.r-project.x86_64.tcltk.x11</string>
			<key>version</key>
			<string>8.6.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4084</integer>
			<key>packageid</key>
			<string>org.r-project.R.x86_64.GUI.pkg</string>
			<key>version</key>
			<string>1.66</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>109484</integer>
			<key>packageid</key>
			<string>org.r-project.R.x86_64.fw.pkg</string>
			<key>version</key>
			<string>30268531</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.2.1</string>
</dict>
</plist>
