<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-03-08T12:01:14Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Developer</string>
	<key>description</key>
	<string>R is a language and environment for statistical computing and graphics which provides a wide variety of statistical and graphical techniques: linear and nonlinear modelling, statistical tests, time series analysis, classification, clustering, etc.</string>
	<key>developer</key>
	<string>R Foundation</string>
	<key>display_name</key>
	<string>R for Mac OS X</string>
	<key>installed_size</key>
	<integer>157492</integer>
	<key>installer_item_hash</key>
	<string>77d7a145d1f7d5c3f5bd7310ae2beb7349118528d938e519845ce7d205b4c864</string>
	<key>installer_item_location</key>
	<string>apps/R/R-3.3.3.pkg</string>
	<key>installer_item_size</key>
	<integer>73133</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.R-project.R</string>
			<key>CFBundleName</key>
			<string>R</string>
			<key>CFBundleShortVersionString</key>
			<string>R 3.3.3 GUI 1.69 Mavericks build</string>
			<key>CFBundleVersion</key>
			<string>7328</string>
			<key>minosversion</key>
			<string>MIN_VERSION</string>
			<key>path</key>
			<string>/Applications/R.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<dict>
			<key>CFBundleVersion</key>
			<string>3.3.3</string>
			<key>path</key>
			<string>/Library/Frameworks/R.framework</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>R</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>108928</integer>
			<key>packageid</key>
			<string>org.r-project.R.mavericks.fw.pkg</string>
			<key>version</key>
			<string>30372310</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4160</integer>
			<key>packageid</key>
			<string>org.r-project.R.mavericks.GUI.pkg</string>
			<key>version</key>
			<string>1.69</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>36448</integer>
			<key>packageid</key>
			<string>org.r-project.x86_64.tcltk.x11</string>
			<key>version</key>
			<string>8.6.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7956</integer>
			<key>packageid</key>
			<string>org.r-project.x86_64.texinfo</string>
			<key>version</key>
			<string>5.2</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.3.3</string>
</dict>
</plist>
