<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-09-20T11:03:05Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Tableau</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Tableau Desktop is data visualization software that lets you see and understand data in minutes.</string>
	<key>display_name</key>
	<string>Tableau Desktop</string>
	<key>installed_size</key>
	<integer>1389694</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.tableausoftware.desktop.app</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.tableausoftware.desktopShortcut</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.amazon.redshiftodbc</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.tableausoftware.mysql</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.tableausoftware.oracle</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.tableausoftware.postgresql</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.simba.sparkodbc</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.simba.sqlserverodbc</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>6cfd3ec5b4468b9f6f23764a219deb608a9cff20b8e7ddf02bfdf4c6280eb830</string>
	<key>installer_item_location</key>
	<string>apps/Tableau/TableauDesktop-10.3.3.dmg</string>
	<key>installer_item_size</key>
	<integer>413807</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>TableauDesktop</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>332</integer>
			<key>packageid</key>
			<string>com.tableausoftware.FLEXNet.11.14.0</string>
			<key>version</key>
			<string>11.14.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1004529</integer>
			<key>packageid</key>
			<string>com.tableausoftware.Desktop.app</string>
			<key>version</key>
			<string>"10300.17.0915.2101" </string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>67839</integer>
			<key>packageid</key>
			<string>com.amazon.redshiftodbc</string>
			<key>version</key>
			<string>1.2.6</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>185370</integer>
			<key>packageid</key>
			<string>com.tableausoftware.oracle</string>
			<key>version</key>
			<string>11.2.0.5</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>616</integer>
			<key>packageid</key>
			<string>com.tableausoftware.postgresql</string>
			<key>version</key>
			<string>9.5.3.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>90299</integer>
			<key>packageid</key>
			<string>simba.sparkodbc</string>
			<key>version</key>
			<string>1.2.3.1004</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>40709</integer>
			<key>packageid</key>
			<string>com.simba.sqlserverodbc</string>
			<key>version</key>
			<string>1.2.3</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.3.3</string>
</dict>
</plist>
