<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-09-19T10:01:14Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>FUSE for OS X allows you to extend OS X's native file handling capabilities via third-party file systems. OSXFUSE is a successor to MacFUSE, which has been used as a software building block by dozens of products, but is no longer being maintained.</string>
	<key>display_name</key>
	<string>OSXFUSE</string>
	<key>installed_size</key>
	<integer>8763</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>10.8$OSXFUSEMacFUSE</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.github.osxfuse.pkg.MacFUSE</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>6a8507cf0ba5eb3113110a745650fdcfa6d1aa65c0a5c54f6c7da2ca8471d9cc</string>
	<key>installer_item_location</key>
	<string>drivers/osxfuse-3.5.1.pkg</string>
	<key>installer_item_size</key>
	<integer>5110</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>osxfuse</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>4360</integer>
			<key>packageid</key>
			<string>com.github.osxfuse.pkg.Core</string>
			<key>version</key>
			<string>3.5.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2656</integer>
			<key>packageid</key>
			<string>com.github.osxfuse.pkg.PrefPane</string>
			<key>version</key>
			<string>3.5.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1747</integer>
			<key>packageid</key>
			<string>com.github.osxfuse.pkg.MacFUSE</string>
			<key>version</key>
			<string>3.5.1</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.5.1</string>
</dict>
</plist>
