<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-07-28T14:42:13Z</date>
		<key>munki_version</key>
		<string>2.7.1.2764</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>Office 2016 for Mac presents "first run" dialogs to the user to market some of its new features. This script will suppress these "first run" dialogs.</string>
	<key>developer</key>
	<string>rtrouton</string>
	<key>display_name</key>
	<string>Disable Office 2016 First Run Dialog Windows</string>
	<key>installer_item_hash</key>
	<string>2f267988f0b36ac8842208a3f51cb0e47e687a6d74ea60b64091211a9582cba9</string>
	<key>installer_item_location</key>
	<string>settings/disable_office_2016_first_run_dialog_windows.sh</string>
	<key>installer_item_size</key>
	<integer>4</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>disable_office_2016_first_run_dialog_windows</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.github.disable_office_2016_first_run_dialog_windows</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
	<key>update_for</key>
	<array>
	</array>
</dict>
</plist>
