<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-01-14T15:34:44Z</date>
		<key>munki_version</key>
		<string>2.1.0.2349</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>name</key>
	<string>LoginWindow-DisplayNamePasswordFields</string>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>version</key>
	<string>1.0.0</string>
	<key>installcheck_script</key>
	<string>#!/bin/sh

# Grab current value
value="$(defaults read /Library/Preferences/com.apple.loginwindow SHOWFULLNAME 2&gt;/dev/null
)" || values="MISSING"

# Compare with the value we want
if [ ${value:-0} -eq 1 ]; then
	# Setting is correct
	exit 0
else
	# Setting is not correct
	exit 1
fi
	</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh

defaults write /Library/Preferences/com.apple.loginwindow SHOWFULLNAME -bool true
	</string>
	<key>unattended_uninstall</key>
	<true/>
</dict>
</plist>
