<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>name</key>
	<string>SetMunkiServer</string>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>version</key>
	<string>1.0.0</string>
	<key>installcheck_script</key>
	<string>#!/bin/sh

# Grab current value
value="$(defaults read /Library/Preferences/ManagedInstalls.plist SoftwareRepoURL 2&gt;/dev/null
)" || values="MISSING"

# Compare with the value we want
if [ ${value:-0} = "https://munki.povertyactionlab.org" ]; then
	# Setting is correct
	exit 1
else
	# Setting is not correct
	exit 0
fi
	</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh

defaults write /Library/Preferences/ManagedInstalls.plist SoftwareRepoURL "https://munki.povertyactionlab.org"
defaults write /Library/Preferences/ManagedInstalls.plist IconURL "https://munki.povertyactionlab.org"
	</string>
	<key>unattended_uninstall</key>
	<true/>
</dict>
</plist>
