<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-01-30T20:32:04Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.8.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Print drivers for Konica Minolta’s bizhub C280 printer.</string>
	<key>display_name</key>
	<string>BizHub C280 Drivers</string>
	<key>installed_size</key>
	<integer>19850</integer>
	<key>installer_item_hash</key>
	<string>31bf2c423bba1d9349e3e32690139b34a739e8a5735e2019b9fee1eda4160b7c</string>
	<key>installer_item_location</key>
	<string>printers/drivers/bizhub_C360_109-3.6.0.pkg</string>
	<key>installer_item_size</key>
	<integer>9398</integer>
	<key>minimum_os_version</key>
	<string>10.9.0</string>
	<key>name</key>
	<string>BizHubC280Drivers</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>19850</integer>
			<key>packageid</key>
			<string>jp.konicaminolta.print.package.C360</string>
			<key>version</key>
			<string>3.6.0</string>
		</dict>
	</array>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 Cover.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 Finishing.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 ImageQuality.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 Output.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 PerPage.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 Stamp.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/KONICA MINOLTA C360 Tray.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>3.11.2</string>
			<key>CFBundleVersion</key>
			<string>3.11.2</string>
			<key>path</key>
			<string>/Library/Printers/KONICAMINOLTA/C360/PDEs/pde.framework</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.6.0</string>
</dict>
</plist>
