<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-01-27T16:48:29Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.8.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string>VMware Fusion is a desktop application that lets you create and run virtual machines on your Intel-based Macintosh.</string>
	<key>display_name</key>
	<string>VMware Fusion</string>
	<key>installer_item_hash</key>
	<string>a6ec92e3a0fbbee8ebba55cdd08b32a9e8912022fbff68e6409160b751902d34</string>
	<key>installer_item_location</key>
	<string>apps/vmware/VMwareFusion-6.0.2.dmg</string>
	<key>installer_item_size</key>
	<integer>542869</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>VMwareFusion</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.vmware.fusion.pkg.massdeploy</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.vmware.fusion</string>
			<key>CFBundleName</key>
			<string>VMware Fusion</string>
			<key>CFBundleShortVersionString</key>
			<string>6.0.2</string>
			<key>CFBundleVersion</key>
			<string>1398658</string>
			<key>minosversion</key>
			<string>10.7.0</string>
			<key>path</key>
			<string>/Applications/VMware Fusion.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.0.2</string>
</dict>
</plist>
