<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-11-17T14:29:16Z</date>
		<key>munki_version</key>
		<string>2.3.1.2535</string>
		<key>os_version</key>
		<string>10.11.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>This script automatically processes packages and scripts at first boot and/or each (subsequent) user login.</string>
	<key>developer</key>
	<string>Joseph Chilcote</string>
	<key>display_name</key>
	<string>Outset</string>
	<key>installed_size</key>
	<integer>27</integer>
	<key>installer_item_hash</key>
	<string>71f87fe6bb4b7446b8c5ebb14994a4dfd67037a7ab2c45c384d6b0c0631ae9ac</string>
	<key>installer_item_location</key>
	<string>utilities/outset-1.0.2.pkg</string>
	<key>installer_item_size</key>
	<integer>8</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>outset</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>27</integer>
			<key>packageid</key>
			<string>com.github.outset.outset</string>
			<key>version</key>
			<string>1.0.2</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0.2</string>
	<key>unattended_install</key>
	<true/>
</dict>
</plist>
