<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-06-20T13:45:50Z</date>
		<key>munki_version</key>
		<string>2.7.0.2753</string>
		<key>os_version</key>
		<string>10.11.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Excel</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>&lt;html&gt;&lt;p style="font-family:Helvetica;font-size:12px"&gt;For detailed information about this update, please visit the following Web site: &lt;/p&gt;

&lt;p style="font-family:Helvetica;font-size:12px"&gt;&lt;a href="https://go.microsoft.com/fwlink/?LinkID=799195" target="_blank"&gt;https://go.microsoft.com/fwlink/?LinkID=799195&lt;/a&gt;&lt;/p&gt;&lt;/html&gt;</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Excel for Mac</string>
	<key>installed_size</key>
	<integer>1617196</integer>
	<key>installer_item_hash</key>
	<string>44b2c132b3d49da28c8320b8bce9336d109b1d6adc1b546ec87eea4c8fa3d9e5</string>
	<key>installer_item_location</key>
	<string>apps/Office2016/MSExcel2016-15.23.1-15.23.16061700.pkg</string>
	<key>installer_item_size</key>
	<integer>871479</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>15.23.1</string>
			<key>CFBundleVersion</key>
			<string>15.23.1</string>
			<key>path</key>
			<string>/Applications/Microsoft Excel.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MSExcel2016</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1617196</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Excel.app</string>
			<key>version</key>
			<string>15.23.16061700</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>Office2016License</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.23.16061700</string>
</dict>
</plist>
