<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-09-17T10:03:42Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Outlook</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>&lt;html&gt;&lt;p style="font-family:Helvetica;font-size:12px"&gt;This update introduces 64-bit Office for Mac!&lt;/br&gt;&lt;/br&gt;For detailed information about this update, &lt;b&gt;and important notes for users of add-ins&lt;/b&gt;, please visit the following website: &lt;/p&gt;

&lt;p style="font-family:Helvetica;font-size:12px"&gt;&lt;a href="https://go.microsoft.com/fwlink/?LinkID=825107" target="_blank"&gt;https://go.microsoft.com/fwlink/?LinkID=825107&lt;/a&gt;&lt;/p&gt;&lt;/html&gt;</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>installed_size</key>
	<integer>1393179</integer>
	<key>installer_item_hash</key>
	<string>592ddb3ec2a35a0ede5c5bc7c9f6a1a3d194f13917037094104aa8fbb10f58b5</string>
	<key>installer_item_location</key>
	<string>apps/Office2016/MSOutlook2016-15.26.16091600.pkg</string>
	<key>installer_item_size</key>
	<integer>702771</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleVersion</key>
			<string>15.26.16091600</string>
			<key>path</key>
			<string>/Applications/Microsoft Outlook.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MSOutlook2016</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1393179</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Outlook.app</string>
			<key>version</key>
			<string>15.26.16091600</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>Office2016License</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.26.16091600</string>
</dict>
</plist>
