<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-06-15T19:18:36Z</date>
		<key>munki_version</key>
		<string>2.7.0.2753</string>
		<key>os_version</key>
		<string>10.11.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Outlook</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>&lt;html&gt;&lt;p style="font-family:Helvetica;font-size:12px"&gt;For detailed information about this update, please visit the following Web site: &lt;/p&gt;

&lt;p style="font-family:Helvetica;font-size:12px"&gt;&lt;a href="https://go.microsoft.com/fwlink/?LinkID=799195" target="_blank"&gt;https://go.microsoft.com/fwlink/?LinkID=799195&lt;/a&gt;&lt;/p&gt;&lt;/html&gt;</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Outlook for Mac</string>
	<key>installed_size</key>
	<integer>1401725</integer>
	<key>installer_item_hash</key>
	<string>1cbc3aed0e2d53f855de057269c17890c27c3ea5a00c4caa3485fed788d694e3</string>
	<key>installer_item_location</key>
	<string>apps/Office2016/MSOutlook2016-15.23.0-15.23.16061100.pkg</string>
	<key>installer_item_size</key>
	<integer>705047</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>15.23.0</string>
			<key>CFBundleVersion</key>
			<string>15.23.0</string>
			<key>path</key>
			<string>/Applications/Microsoft Outlook.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MSOutlook2016</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1401725</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Outlook.app</string>
			<key>version</key>
			<string>15.23.16061100</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>Office2016License</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.23.16061100</string>
</dict>
</plist>
