<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-05-10T18:00:59Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utility</string>
	<key>description</key>
	<string>Microsoft Office 2016 Serializer</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Office 2016 Serializer</string>
	<key>installed_size</key>
	<integer>10284</integer>
	<key>installer_item_hash</key>
	<string>79e3eee91055cf00ff12b0eb740151da0f4cd36cc6cb41e580527b898e179cb5</string>
	<key>installer_item_location</key>
	<string>apps/Office2016/Microsoft_Office_2016_VL_Serializer-15.29.16120900.pkg</string>
	<key>installer_item_size</key>
	<integer>3953</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>MSSerializer</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>412</integer>
			<key>packageid</key>
			<string>com.microsoft.pkg.licensing</string>
			<key>version</key>
			<string>15.29.16120900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9872</integer>
			<key>packageid</key>
			<string>com.microsoft.pkg.licensing.volume</string>
			<key>version</key>
			<string>15.29.16120900</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.29.16120900</string>
	<key>preinstall_script</key>
	<string>#!/bin/bash
#
# Check for the existance of Microsoft's licensing file. If it exsits remove
# it prior to running Microsoft_Office_2016_VL_Serializer.pkg.
if [ -f '/Library/Preferences/com.microsoft.office.licensingV2.plist' ]; then
	/bin/rm -f '/Library/Preferences/com.microsoft.office.licensingV2.plist'
fi
exit 0
	</string>
	<key>update_for</key>
	<array>
		<string>MSExcel2016</string>
    <string>MSOneNote2016</string>
    <string>MSOutlook2016</string>
    <string>MSPowerPoint2016</string>
    <string>MSWord2016</string>
	</array>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Excel</string>
		<string>Microsoft OneNote</string>
		<string>Microsoft Outlook</string>
		<string>Microsoft PowerPoint</string>
		<string>Microsoft Word</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
</dict>
</plist>
