<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-11-16T12:04:49Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Word</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>&lt;html&gt;&lt;p style="font-family:Helvetica;font-size:12px"&gt;For detailed information about this update, please visit the following Web site: &lt;/p&gt;

&lt;p style="font-family:Helvetica;font-size:12px"&gt;&lt;a href="https://go.microsoft.com/fwlink/?LinkID=831159" target="_blank"&gt;https://go.microsoft.com/fwlink/?LinkID=831159&lt;/a&gt;&lt;/p&gt;&lt;/html&gt;</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>installed_size</key>
	<integer>1828648</integer>
	<key>installer_item_hash</key>
	<string>2c6f5b448a61c035db530f217f2ff9539ce7ba03dfd7e9aa56aeaca78c269fbd</string>
	<key>installer_item_location</key>
	<string>apps/Office2016/MSWord2016-15.28.16111501.pkg</string>
	<key>installer_item_size</key>
	<integer>1033063</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleVersion</key>
			<string>15.28.16111501</string>
			<key>path</key>
			<string>/Applications/Microsoft Word.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MSWord2016</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1828648</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Word.app</string>
			<key>version</key>
			<string>15.28.16111501</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>Office2016License</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.28.16111501</string>
</dict>
</plist>
