<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-01-19T21:09:43Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utility</string>
	<key>description</key>
	<string>The JDK is a development environment for building applications, applets, and components using the Java programming language. The JDK includes tools useful for developing and testing programs written in the Java programming language and running on the Java platform.</string>
	<key>developer</key>
	<string>Oracle</string>
	<key>display_name</key>
	<string>Oracle Java 8 development kit</string>
	<key>installed_size</key>
	<integer>521212</integer>
	<key>installer_item_hash</key>
	<string>72ccd63efb1775b3e4351f7b8c27d4f473d3c7bb098cb76c8d901517b3a7a506</string>
	<key>installer_item_location</key>
	<string>utility/Oracle/OracleJava8JDK-1.8.0_71.dmg</string>
	<key>installer_item_size</key>
	<integer>232691</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>CFBundleVersion</key>
			<string>1.8.0_71</string>
			<key>path</key>
			<string>/Library/Java/JavaVirtualMachines/jdk1.8.0_71.jdk</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.4</string>
	<key>name</key>
	<string>OracleJava8JDK</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>346140</integer>
			<key>packageid</key>
			<string>com.oracle.jdk8u71</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>175072</integer>
			<key>packageid</key>
			<string>com.oracle.jre</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
	</array>
	<key>supported_architectures</key>
	<array>
		<string>i386</string>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.8.0_71</string>
</dict>
</plist>
