<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Install the printer Slayer, located in E53-320.</string>
	<key>display_name</key>
	<string>Printer: Slayer</string>
	<key>installer_item_hash</key>
	<string>0694c6a18ffa4466f18433d389ab83eb005f5df87e20864ae3127aff1c3740a7</string>
	<key>installer_item_location</key>
	<string>printers/Slayer-1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>13</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Slayer</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Slayer-1.0.pkg</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>org.povertyactionlab.Slayer</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
	<key>installcheck_script</key>
    <string>#!/bin/sh

# Print queue to check
queue=Slayer

# Test queue
lpstat -p ${queue} > /dev/null
rc=$?

# Compare with the version we want to install
if [ $rc == 0 ]; then
        exit 1
else
        exit 0
fi
</string>
<key>unattended_uninstall</key>
<true/>
<key>unattended_install</key>
<true/>
</dict>
</plist>
