<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeSetupType</key>
	<string>ProductInstall</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-01-05T20:16:46Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.11.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Design</string>
	<key>description</key>
	<string>The industry-leading page design and layout toolset lets you work across desktop and mobile devices to create, preflight and publish everything from printed books and brochures to digital magazines, iPad apps, eBooks and interactive online documents.</string>
	<key>developer</key>
	<string>Adobe</string>
	<key>display_name</key>
	<string>Adobe InDesign</string>
	<key>installed_size</key>
	<integer>1982317</integer>
	<key>installer_item_hash</key>
	<string>3be654a53afa8d3d88cb0f5954d90ed60350c48939c8e03c69ad9fbdf2c32445</string>
	<key>installer_item_location</key>
	<string>apps/adobe/indesign/MIT_InDesign_Install-11.0.dmg</string>
	<key>installer_item_size</key>
	<integer>1031568</integer>
	<key>installer_type</key>
	<string>AdobeCCPInstaller</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Library/Application Support/Adobe/Uninstall/{76AE579A-05AC-11E5-933C-9CF835776563}.db</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>AdobeInDesign</string>
	<key>payloads</key>
	<array>
		<dict>
			<key>AdobeCode</key>
			<string>{BCA6AEA9-86DE-4DB7-A940-176341EC18BE}</string>
			<key>display_name</key>
			<string>DPS Desktop Tools CC 2015</string>
			<key>installed_size</key>
			<integer>8121</integer>
			<key>version</key>
			<string>2015.5</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{842D21C0-3A78-11E5-B905-9C41D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe InDesign CC 2015</string>
			<key>installed_size</key>
			<integer>1005577</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{AC013CF2-3A66-11E5-BF78-DD51DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (cs_CZ)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E81C4B82-3A66-11E5-98DD-B65CDA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (da_DK)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{26C52D72-3A67-11E5-8F24-9167DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (de_DE)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{652F7C8E-3A67-11E5-9C80-6D72DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (en_AE)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{1FDED714-3A68-11E5-8FBD-0293DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (en_GB)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A2EF7BFA-3A67-11E5-8C88-467DDA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (en_IL)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{61015C12-3A68-11E5-A758-FC9DDA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (en_US)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A1276C14-3A68-11E5-9544-DCA8DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (es_ES)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E344EFCC-3A68-11E5-A86C-B8B3DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (es_MX)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{25647B34-3A69-11E5-B352-9638D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (fi_FI)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{4E1BE4EA-3A69-11E5-9689-8343D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (fr_CA)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{7588AB08-3A69-11E5-9168-604ED971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (fr_FR)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E0419330-3A67-11E5-935F-2088DA71B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (fr_MA)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{9E472D12-3A69-11E5-82F5-3D59D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (hu_HU)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C780A514-3A69-11E5-8868-1664D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (it_IT)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F446B82C-3A69-11E5-995D-F16ED971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (ja_JP)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{2C88F966-3A6A-11E5-A554-027AD971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (ko_KR)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{57FB4112-3A6A-11E5-A55B-1085D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (nb_NO)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{85B7C184-3A6A-11E5-9541-E78FD971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (nl_NL)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{BA3C9F1A-3A6A-11E5-B6D5-C19AD971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (pl_PL)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{E9F8F46A-3A6A-11E5-9E61-9AA5D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (pt_BR)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{180B7BE8-3A6B-11E5-BA52-7EB0D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (ru_RU)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{6874161C-3A6B-11E5-8759-68BBD971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (sv_SE)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{9A6E601E-3A6B-11E5-9F0D-44C6D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (tr_TR)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{CAB5D8D8-3A6B-11E5-B801-1FD1D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (uk_UA)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{297879D4-3A6C-11E5-84B5-09DCD971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (zh_CN)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{5CE9CEBC-3A6C-11E5-A957-1BE7D971B9B7}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (zh_TW)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.1.0.122</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C4196275-B11A-40A1-8727-3C145C8F7D95}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetCMYK</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{C8DEBB29-3EB0-4B97-B652-4DE482B111BC}</string>
			<key>display_name</key>
			<string>AdobeColorCommonSetRGB</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{F6DED2DA-1D20-497E-8810-E745B45DCD28}</string>
			<key>display_name</key>
			<string>Adobe Color EU Extra Settings CC</string>
			<key>installed_size</key>
			<integer>1976</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{A032EB9D-B6EB-45BF-9F15-83B0755DC9AB}</string>
			<key>display_name</key>
			<string>Adobe Color JA Extra Settings CC</string>
			<key>installed_size</key>
			<integer>2799</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{AB955DCF-69CD-4840-B7FB-F318CDD0AE44}</string>
			<key>display_name</key>
			<string>Adobe Color NA Recommended Settings CC</string>
			<key>installed_size</key>
			<integer>2333</integer>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{7BA5F15B-50B8-48E6-AA6B-62767DBC07A9}</string>
			<key>display_name</key>
			<string>Adobe Publish Desktop Tools CC2015</string>
			<key>installed_size</key>
			<integer>175</integer>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{76AE579A-05AC-11E5-933C-9CF835776563}</string>
			<key>display_name</key>
			<string>Adobe InDesign CC 2015</string>
			<key>installed_size</key>
			<integer>961292</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{97F8479A-05AB-11E5-8C04-17EF35776563}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 AppLang (en_US)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{D64C7FE2-05B1-11E5-B8F3-5B3E36776563}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 CBase</string>
			<key>installed_size</key>
			<integer>44</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>AdobeCode</key>
			<string>{2C3D478E-05AC-11E5-8B57-43F735776563}</string>
			<key>display_name</key>
			<string>Adobe ID CC2015 CLang (en_US)</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>version</key>
			<string>11.0</string>
		</dict>
	</array>
	<key>uninstallable</key>
	<false/>
	<key>version</key>
	<string>11.0</string>
</dict>
</plist>
