<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-06-30T11:03:01Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>VeraCrypt is an open-source utility used for on-the-fly encryption. It can create a virtual encrypted disk within a file or encrypt an entire partition.</string>
	<key>developer</key>
	<string>IDRIX</string>
	<key>installed_size</key>
	<integer>21060</integer>
	<key>installer_item_hash</key>
	<string>c7d62642bb0ed9c43c975fe2e4cb079fcf51355de7fb99720fa9048215a5b923</string>
	<key>installer_item_location</key>
	<string>utilities/VeraCrypt/VeraCrypt-1.20.3.pkg</string>
	<key>installer_item_size</key>
	<integer>9616</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>VeraCrypt</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>21060</integer>
			<key>packageid</key>
			<string>com.idrix.pkg.veracrypt</string>
			<key>version</key>
			<string>1.20.3</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>osxfuse</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.20.3</string>
</dict>
</plist>
