<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-12-30T12:06:03Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utility</string>
	<key>description</key>
	<string>HandBrake is a tool for converting video from nearly any format to a selection of modern, widely supported codecs.</string>
	<key>developer</key>
	<string>The HandBrake Team</string>
	<key>display_name</key>
	<string>Handbrake</string>
	<key>installer_item_hash</key>
	<string>27f936ef028c9d20ee5da2b23c7352968c98226274ca43f3bc1571cf71820673</string>
	<key>installer_item_location</key>
	<string>apps/Handbrake/Handbrake-1.0.1.dmg</string>
	<key>installer_item_size</key>
	<integer>12943</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>fr.handbrake.HandBrake</string>
			<key>CFBundleName</key>
			<string>HandBrake</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.1</string>
			<key>CFBundleVersion</key>
			<string>2016122900</string>
			<key>minosversion</key>
			<string>10.7</string>
			<key>path</key>
			<string>/Applications/HandBrake.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>HandBrake.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>Handbrake</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0.1</string>
</dict>
</plist>
