<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-07-28T11:02:20Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>VLC is a free and open source cross-platform multimedia player and framework that plays most multimedia files as well as DVD, Audio CD, VCD, and various streaming protocols.</string>
	<key>display_name</key>
	<string>VLC Media Player</string>
	<key>installer_item_hash</key>
	<string>923504e296829f4253af8276b992636f72e56232ecdbdcf6003647ee662257f2</string>
	<key>installer_item_location</key>
	<string>apps/VLC/VLC-2.1.5.dmg</string>
	<key>installer_item_size</key>
	<integer>32734</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.videolan.vlc</string>
			<key>CFBundleName</key>
			<string>VLC media player</string>
			<key>CFBundleShortVersionString</key>
			<string>2.1.5</string>
			<key>CFBundleVersion</key>
			<string>2.1.5</string>
			<key>minosversion</key>
			<string>10.6.0</string>
			<key>path</key>
			<string>/Applications/VLC.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>VLC.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>VLC</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1.5</string>
</dict>
</plist>
