<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-08-29T14:48:02Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Google Drive sync for Mac. Access files on your computer from anywhere.</string>
	<key>display_name</key>
	<string>Google Drive</string>
	<key>installer_item_hash</key>
	<string>fd653aa1698dc84a597c617fee0e39144b305fe2ee8123bc5de0030c3095b057</string>
	<key>installer_item_location</key>
	<string>apps/google/GoogleDrive-1.31.2873.2758.dmg</string>
	<key>installer_item_size</key>
	<integer>38294</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.google.GoogleDrive</string>
			<key>CFBundleName</key>
			<string>Google Drive</string>
			<key>CFBundleShortVersionString</key>
			<string>1.31</string>
			<key>CFBundleVersion</key>
			<string>1.31.2873.2758</string>
			<key>path</key>
			<string>/Applications/Google Drive.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Google Drive.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6</string>
	<key>name</key>
	<string>GoogleDrive</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh

# Appreciatively copied from
# https://github.com/Ginja/Admin_Scripts/blob/master/google_drive_helper.rb

cp \
        '/Applications/Google Drive.app/Contents/Helpers/Google Drive Icon Helper' \
        '/Library/PrivilegedHelperTools/Google Drive Icon Helper'

chmod 6755 '/Library/PrivilegedHelperTools/Google Drive Icon Helper'
chown root:procmod '/Library/PrivilegedHelperTools/Google Drive Icon Helper'
</string>
	<key>postuninstall_script</key>
	<string>#/bin/sh

rm '/Library/PrivilegedHelperTools/Google Drive Icon Helper'
</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.31.2873.2758</string>
	<key>category</key>
	<string>File Sharing</string>
	<key>developer</key>
	<string>Google</string>
</dict>
</plist>
