<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-01-10T12:08:13Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>This update provides system requirement enhancements, mitigation for security issues, improved overall stability, bug fixes, and feature enhancements. For a list of specific bug fixes, new features, and other changes in this release, see the Release Notes.</string>
	<key>developer</key>
	<string>Adobe Systems Inc.</string>
	<key>display_name</key>
	<string>Adobe Acrobat DC Update</string>
	<key>installed_size</key>
	<integer>396683</integer>
	<key>installer_item_hash</key>
	<string>5084328b0da2bb31e8fb92d66d2d2eb2e0644df338bdf1bf14888fb9258134c6</string>
	<key>installer_item_location</key>
	<string>apps/adobe/Adobe Acrobat DC Update-15.023.20053.dmg</string>
	<key>installer_item_size</key>
	<integer>308798</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adobe.Acrobat.Pro</string>
			<key>CFBundleName</key>
			<string>Acrobat Pro</string>
			<key>CFBundleShortVersionString</key>
			<string>15.023.20053</string>
			<key>CFBundleVersion</key>
			<string>15.023.20053</string>
			<key>path</key>
			<string>/Applications/Adobe Acrobat DC/Adobe Acrobat.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Adobe Acrobat DC Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>155973</integer>
			<key>packageid</key>
			<string>com.adobe.PDApp.AdobeApplicationManager.installer.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11831</integer>
			<key>packageid</key>
			<string>com.adobe.AcroServicesUpdater</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>228879</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.AcrobatDCUpd1502320053</string>
			<key>version</key>
			<string>15.023.20053</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>AdobeAcrobatDC</string>
	</array>
	<key>version</key>
	<string>15.023.20053</string>
</dict>
</plist>
