<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-09-13T11:05:42Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Internet Plugin</string>
	<key>description</key>
	<string>The Adobe AIR runtime enables developers to package the same code into native applications and games for Windows and Mac OS desktops as well as iOS and Android devices, reaching over a billion desktop systems and mobile app stores for over 500 million devices.</string>
	<key>developer</key>
	<string>Adobe</string>
	<key>display_name</key>
	<string>Adobe AIR</string>
	<key>installed_size</key>
	<integer>81524</integer>
	<key>installer_item_hash</key>
	<string>23f3236b3d659e1ff340831b2eec9aa1121a4ce9fb1d9add83a8e6677799b783</string>
	<key>installer_item_location</key>
	<string>apps/adobe/AdobeAIR-23.0.0.257.pkg</string>
	<key>installer_item_size</key>
	<integer>35024</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>AdobeAIR</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>81524</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.AIR</string>
			<key>version</key>
			<string>23.0.0.257</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>23.0.0.257</string>
</dict>
</plist>
