<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-10-11T13:58:53Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Adobe Acrobat Pro.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Acrobat Pro Update</string>
	<key>installed_size</key>
	<integer>258176</integer>
	<key>installer_item_hash</key>
	<string>7477ed9d32d8cb290efa5b5fe7cc0d2419eb4c8bf97e8b6d8a6eb1eff952fc56</string>
	<key>installer_item_location</key>
	<string>apps/AcrobatPro/AcrobatUpd11018-11.0.18.pkg</string>
	<key>installer_item_size</key>
	<integer>332293</integer>
	<key>minimum_os_version</key>
	<string>10.9.0</string>
	<key>name</key>
	<string>AdobeAcrobatProX_Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.adobe.PDApp.AdobeApplicationManager.installer.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>258176</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.viewer.11.0.18.patch.pkg</string>
			<key>version</key>
			<string>11.0.18</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>AdobeAcrobatProXI</string>
	</array>
	<key>version</key>
	<string>11.0.18</string>
</dict>
</plist>
