<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-10-14T19:34:11Z</date>
		<key>munki_version</key>
		<string>2.8.1.2845</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Adobe Acrobat Pro.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Acrobat Pro Update</string>
	<key>installed_size</key>
	<integer>139188</integer>
	<key>installer_item_hash</key>
	<string>2cd5148ba3a71e7e02d3d06de807fc9054d1eebe1b1cd744f2eda6e29f4d8123</string>
	<key>installer_item_location</key>
	<string>apps/AcrobatPro/AcrobatUpd10116-10.1.16.pkg</string>
	<key>installer_item_size</key>
	<integer>141345</integer>
	<key>minimum_os_version</key>
	<string>10.9.0</string>
	<key>name</key>
	<string>AdobeAcrobatProX_Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>139188</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.a10.AcrobatUpd10116</string>
			<key>version</key>
			<string>10.1.16</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>AdobeAcrobatProX</string>
	</array>
	<key>version</key>
	<string>10.1.16</string>
</dict>
</plist>
