<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-12-10T12:01:14Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Adobe Acrobat Pro.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Acrobat XI Pro Update</string>
	<key>icon_name</key>
	<string>AdobeAcrobatProXI</string>
	<key>installed_size</key>
	<integer>256136</integer>
	<key>installer_item_hash</key>
	<string>7e69ff2cb886376dc1a7a1d5ce9e268d7c0ee9bf4c740731a6b21358bbf6710b</string>
	<key>installer_item_location</key>
	<string>apps/AcrobatPro/AcrobatUpd11010-11.0.10.pkg</string>
	<key>installer_item_size</key>
	<integer>321030</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>AdobeAcrobatProXI_Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.adobe.PDApp.AdobeApplicationManager.installer.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>256136</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.viewer.11.0.10.patch.pkg</string>
			<key>version</key>
			<string>11.0.10</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>AdobeAcrobatProXI</string>
	</array>
	<key>version</key>
	<string>11.0.10</string>
</dict>
</plist>
