<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-03-07T15:07:34Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Text Editors</string>
	<key>description</key>
	<string>TextMate brings Apple's approach to operating systems into the world of text editors. By bridging UNIX underpinnings and GUI, TextMate cherry-picks the best of both worlds to the benefit of expert scripters and novice users alike.</string>
	<key>developer</key>
	<string>MacroMates Ltd.</string>
	<key>display_name</key>
	<string>TextMate 2</string>
	<key>installer_item_hash</key>
	<string>c609ddf2257b70a8d095779df424d05dc506bc179cf64f18816039e89bc41971</string>
	<key>installer_item_location</key>
	<string>apps/TextMate2/TextMate2-2.0-beta.9.dmg</string>
	<key>installer_item_size</key>
	<integer>27274</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.macromates.TextMate.preview</string>
			<key>CFBundleName</key>
			<string>TextMate</string>
			<key>CFBundleShortVersionString</key>
			<string>2.0-beta.9</string>
			<key>CFBundleVersion</key>
			<string>9800</string>
			<key>minosversion</key>
			<string>10.7</string>
			<key>path</key>
			<string>/Applications/TextMate.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>TextMate.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>TextMate2</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
[ -d /usr/local/bin ] || mkdir -p /usr/local/bin
/bin/cp -f -p /Applications/TextMate.app/Contents/Resources/mate /usr/local/bin/mate
</string>
	<key>postuninstall_script</key>
	<string>#!/bin/sh
[ -e /usr/local/bin/mate ] &amp;&amp; rm -f /usr/local/bin/mate
</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.0-beta.9</string>
</dict>
</plist>
