<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-02-24T12:03:47Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>1Password</string>
		<string>1Password mini</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>1Password is a password manager that goes beyond simple password storage by integrating directly with your web browser to automatically log you into websites, enter credit card information, fill registration forms, and easily generate strong passwords.</string>
	<key>developer</key>
	<string>AgileBits Inc.</string>
	<key>display_name</key>
	<string>1Password</string>
	<key>installer_item_hash</key>
	<string>71b8a4010b9bb40785f7bc59aa3dca75bc6775943578ea47d82f93211b96610b</string>
	<key>installer_item_location</key>
	<string>apps/1Password-6.6.1.dmg</string>
	<key>installer_item_size</key>
	<integer>58668</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.agilebits.onepassword4</string>
			<key>CFBundleName</key>
			<string>1Password 6</string>
			<key>CFBundleShortVersionString</key>
			<string>6.6.1</string>
			<key>CFBundleVersion</key>
			<string>661010</string>
			<key>minosversion</key>
			<string>10.10</string>
			<key>path</key>
			<string>/Applications/1Password 6.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>1Password 6.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10</string>
	<key>name</key>
	<string>1Password</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.6.1</string>
</dict>
</plist>
