<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-06-08T16:28:37Z</date>
		<key>munki_version</key>
		<string>2.2.0.2399</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Text Editors</string>
	<key>description</key>
	<string>A hackable text editor for the 21st Century</string>
	<key>developer</key>
	<string>GitHub, Inc.</string>
	<key>display_name</key>
	<string>Atom</string>
	<key>installer_item_hash</key>
	<string>c4a0a82480d1a3d1c991277b3c75162129a918a871feb0bdf236916c45a59ed9</string>
	<key>installer_item_location</key>
	<string>apps/Atom-0.207.0.dmg</string>
	<key>installer_item_size</key>
	<integer>71104</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.atom</string>
			<key>CFBundleName</key>
			<string>Atom</string>
			<key>CFBundleShortVersionString</key>
			<string>0.207.0</string>
			<key>CFBundleVersion</key>
			<string>0.207.0</string>
			<key>minosversion</key>
			<string>10.8</string>
			<key>path</key>
			<string>/Applications/Atom.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Atom.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.8</string>
	<key>name</key>
	<string>Atom</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh

# Simulate the "Atom -&gt; Install Shell Commands"

# /usr/local/bin/atom
ATOM_SOURCE="/Applications/Atom.app/Contents/Resources/app/atom.sh"
ATOM_TARGET="/usr/local/bin/atom"
if [[ -f "${ATOM_SOURCE}" ]]; then
    echo "Creating symbolic link ${ATOM_SOURCE} -&gt; ${ATOM_TARGET}"
    /bin/ln -s "${ATOM_SOURCE}" "${ATOM_TARGET}"
else
    echo "${ATOM_SOURCE} doesn't exist..."
fi

# /usr/local/bin/apm
APM_SOURCE="/Applications/Atom.app/Contents/Resources/app/apm/node_modules/.bin/apm"
APM_TARGET="/usr/local/bin/apm"
if [[ -f "${APM_SOURCE}" ]]; then
    echo "Creating symbolic link ${APM_SOURCE} -&gt; ${APM_TARGET}"
    /bin/ln -s "${APM_SOURCE}" "${APM_TARGET}"
else
    echo "${APM_SOURCE} doesn't exist..."
fi

exit 0
</string>
	<key>postuninstall_script</key>
	<string>#!/bin/sh

# /usr/local/bin/atom
ATOM="/usr/local/bin/atom"
if [[ -L "${ATOM}" ]]; then
    echo "Removing ${ATOM}"
    /bin/rm -f "${ATOM}"
else
    echo "${ATOM} doesn't exist..."
fi

# /usr/local/bin/apm
APM="/usr/local/bin/apm"
if [[ -L "${APM}" ]]; then
    echo "Removing ${APM}"
    /bin/rm -f "${APM}"
else
    echo "${APM} doesn't exist..."
fi

exit 0
</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.207.0</string>
</dict>
</plist>
