<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2015-05-27T15:16:48Z</date>
		<key>munki_version</key>
		<string>2.2.0.2399</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Mapping</string>
	<key>description</key>
	<string>Take a virtual journey to any location in the world. Explore 3D buildings, imagery, and terrain. Find cities, places and local businesses.</string>
	<key>developer</key>
	<string>Google</string>
	<key>display_name</key>
	<string>Google Earth</string>
	<key>installed_size</key>
	<integer>215364</integer>
	<key>installer_item_hash</key>
	<string>3cc2ae06cbabdf8dbb0c7d2ea653242c72e67ebef9227fd71b4146bb74ca5299</string>
	<key>installer_item_location</key>
	<string>apps/GoogleEarth-7.1.5.1557.dmg</string>
	<key>installer_item_size</key>
	<integer>87030</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Google.GoogleEarthPlus</string>
			<key>CFBundleName</key>
			<string>Google Earth</string>
			<key>CFBundleShortVersionString</key>
			<string>7.1</string>
			<key>CFBundleVersion</key>
			<string>7.1.5.1557</string>
			<key>minosversion</key>
			<string>10.6.0</string>
			<key>path</key>
			<string>/Applications/Google Earth.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>7.1</string>
			<key>CFBundleVersion</key>
			<string>7.1.5.1557</string>
			<key>path</key>
			<string>/Library/Internet Plug-Ins/Google Earth Web Plug-in.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>GoogleEarth</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>105130</integer>
			<key>packageid</key>
			<string>com.Google.GoogleEarthPlus</string>
			<key>version</key>
			<string>7.1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>110234</integer>
			<key>packageid</key>
			<string>com.Google.GoogleEarthPlugin.plugin</string>
			<key>version</key>
			<string>7.1.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.1.5.1557</string>
</dict>
</plist>
