<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-12-16T12:02:15Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Word</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>&lt;html&gt;&lt;p style="font-family:Helvetica;font-size:12px"&gt;For detailed information about this update, please visit the following Web site: &lt;/p&gt;

&lt;p style="font-family:Helvetica;font-size:12px"&gt;&lt;a href="https://go.microsoft.com/fwlink/?LinkID=831049" target="_blank"&gt;https://go.microsoft.com/fwlink/?LinkID=831049&lt;/a&gt;&lt;/p&gt;&lt;/html&gt;</string>
	<key>display_name</key>
	<string>Microsoft Word for Mac</string>
	<key>installed_size</key>
	<integer>1886516</integer>
	<key>installer_item_hash</key>
	<string>63c4a845483f42a22d0d096fda0db531e19a5404570b27f2bd4f1e42ce3cd767</string>
	<key>installer_item_location</key>
	<string>apps/MSWord2016-15.29.16121500.pkg</string>
	<key>installer_item_size</key>
	<integer>1060599</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleVersion</key>
			<string>15.29.16121500</string>
			<key>path</key>
			<string>/Applications/Microsoft Word.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10.0</string>
	<key>name</key>
	<string>MSWord2016</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1886516</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Word.app</string>
			<key>version</key>
			<string>15.29.16121500</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.29.16121500</string>
</dict>
</plist>
