<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-09-15T11:03:15Z</date>
		<key>munki_version</key>
		<string>2.8.0.2810</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Internet Plugin</string>
	<key>description</key>
	<string>Microsoft Silverlight is a free web-browser plug-in that enables interactive media experiences, rich business applications and immersive mobile apps.</string>
	<key>display_name</key>
	<string>Microsoft Silverlight</string>
	<key>installed_size</key>
	<integer>35674</integer>
	<key>installer_item_hash</key>
	<string>9bb96bc1a6b788e035377055f4953b793d5c6e32928e7a493a3385b9e37f9eda</string>
	<key>installer_item_location</key>
	<string>apps/Silverlight-5.1.50709.0.dmg</string>
	<key>installer_item_size</key>
	<integer>15321</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Silverlight</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>35674</integer>
			<key>packageid</key>
			<string>com.microsoft.silverlight.plugin</string>
			<key>version</key>
			<string>5.1.50709.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.1.50709.0</string>
</dict>
</plist>
