<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-04-28T16:13:18Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Silverlight is a powerful development tool for creating engaging, interactive user experiences for Web and mobile applications. Silverlight is a free plug-in, powered by the .NET framework and compatible with multiple browsers, devices and operating systems, bringing a new level of interactivity wherever the Web works.</string>
	<key>display_name</key>
	<string>Microsoft Silverlight</string>
	<key>installed_size</key>
	<integer>99420</integer>
	<key>installer_item_hash</key>
	<string>a425c522f84c8c3b2bcfb5f40abab0f8d67733f824be5c0e383819d06f230007</string>
	<key>installer_item_location</key>
	<string>apps/Silverlight-5.1.30317.0.dmg</string>
	<key>installer_item_size</key>
	<integer>14862</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Silverlight</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Silverlight.pkg</string>
			<key>installed_size</key>
			<integer>99420</integer>
			<key>packageid</key>
			<string>com.microsoft.SilverlightInstaller</string>
			<key>version</key>
			<string>5.1.30317.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.1.30317.0</string>
</dict>
</plist>
