<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2017-06-21T11:00:20Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Skype for Business</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Auto Update</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>&lt;html&gt;&lt;p style="font-family:Helvetica;font-size:12px"&gt;For detailed information about this update, please visit the following Web site: &lt;/p&gt;

&lt;p style="font-family:Helvetica;font-size:12px"&gt;&lt;a href="https://go.microsoft.com/fwlink/?linkid=832970" target="_blank"&gt;https://go.microsoft.com/fwlink/?linkid=832970&lt;/a&gt;&lt;/p&gt;&lt;/html&gt;</string>
	<key>display_name</key>
	<string>Skype for Business</string>
	<key>installed_size</key>
	<integer>84714</integer>
	<key>installer_item_hash</key>
	<string>42f5c369e5305f714fa76390f79efb507f2d0d1bd81920f46e01d34100b8e9b6</string>
	<key>installer_item_location</key>
	<string>apps/SkypeForBusiness-16.8.196.pkg</string>
	<key>installer_item_size</key>
	<integer>31133</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleVersion</key>
			<string>16.8.196</string>
			<key>path</key>
			<string>/Applications/Skype for Business.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.11.0</string>
	<key>name</key>
	<string>SkypeForBusiness</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>84714</integer>
			<key>packageid</key>
			<string>com.microsoft.SkypeForBusiness</string>
			<key>version</key>
			<string>16.8.196</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>16.8.196</string>
</dict>
</plist>
