<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2016-04-26T18:07:56Z</date>
		<key>munki_version</key>
		<string>2.6.1.2684</string>
		<key>os_version</key>
		<string>10.11.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Communication</string>
	<key>description</key>
	<string>Slack is a platform for team communication: everything in one place, instantly searchable, available wherever you go.</string>
	<key>developer</key>
	<string>Slack</string>
	<key>display_name</key>
	<string>Slack</string>
	<key>installer_item_hash</key>
	<string>bc94261421cf7549ba363b94d83ea62c0ceb930417f47df36b0c6055ed00431e</string>
	<key>installer_item_location</key>
	<string>apps/Slack-2.0.2.dmg</string>
	<key>installer_item_size</key>
	<integer>24279</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.tinyspeck.slackmacgap</string>
			<key>CFBundleName</key>
			<string>Slack</string>
			<key>CFBundleShortVersionString</key>
			<string>2.0.2</string>
			<key>CFBundleVersion</key>
			<string>3412</string>
			<key>minosversion</key>
			<string>10.9</string>
			<key>path</key>
			<string>/Applications/Slack.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Slack.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>Slack</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.0.2</string>
</dict>
</plist>
