<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-07-17T11:02:08Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.4</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Spotify is a music streaming service offering unlimited streaming of selected music from a range of major and independent record labels.</string>
	<key>display_name</key>
	<string>Spotify</string>
	<key>installer_item_hash</key>
	<string>c4637f5785c9990a69287156e804323e07609dbc1a6d22b65c36d73765ac01a5</string>
	<key>installer_item_location</key>
	<string>apps/Spotify-0.9.11.27.g2b1a638c.dmg</string>
	<key>installer_item_size</key>
	<integer>47922</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.spotify.client</string>
			<key>CFBundleShortVersionString</key>
			<string>0.9.11.27.g2b1a638c</string>
			<key>CFBundleVersion</key>
			<string>91100027</string>
			<key>minosversion</key>
			<string>10.6</string>
			<key>path</key>
			<string>/Applications/Spotify.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Spotify.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6</string>
	<key>name</key>
	<string>Spotify</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.9.11.27.g2b1a638c</string>
</dict>
</plist>
