<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>mcneal</string>
		<key>creation_date</key>
		<date>2014-05-16T18:18:09Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>TrueCrypt</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Free open-source disk encryption software for Windows 7/Vista/XP, Mac OS X, and Linux</string>
	<key>display_name</key>
	<string>TrueCrypt</string>
	<key>category</key>
	<string>Security</string>
	<key>developer</key>
	<string>TrueCrypt</string>
	<key>installed_size</key>
	<integer>15508</integer>
	<key>installer_item_hash</key>
	<string>6c4cdddcd342a46464f2791768e0e0a8479ec8715b6786ec16fcee008a7c7caf</string>
	<key>installer_item_location</key>
	<string>apps/TrueCrypt-7.1.1.dmg</string>
	<key>installer_item_size</key>
	<integer>9305</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.TrueCryptFoundation.TrueCrypt</string>
			<key>CFBundleName</key>
			<string>TrueCrypt</string>
			<key>CFBundleShortVersionString</key>
			<string>7.1.1</string>
			<key>CFBundleVersion</key>
			<string>0</string>
			<key>path</key>
			<string>/Applications/TrueCrypt.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>TrueCrypt</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>TrueCrypt.pkg</string>
			<key>installed_size</key>
			<integer>11720</integer>
			<key>packageid</key>
			<string>org.TrueCryptFoundation.TrueCrypt</string>
			<key>version</key>
			<string>7.1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>OSXFUSECore.pkg</string>
			<key>installed_size</key>
			<integer>3076</integer>
			<key>packageid</key>
			<string>com.github.osxfuse.pkg.Core</string>
			<key>version</key>
			<string>2.3.8.10.6</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MacFUSE.pkg</string>
			<key>installed_size</key>
			<integer>7024</integer>
			<key>name</key>
			<string>MacFUSE</string>
			<key>packageid</key>
			<string>com.google.macfuse</string>
			<key>version</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>OSXFUSEMacFUSE.pkg</string>
			<key>installed_size</key>
			<integer>60</integer>
			<key>packageid</key>
			<string>com.google.macfuse.core</string>
			<key>version</key>
			<string>2.3.8.10.6</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.1.1</string>
</dict>
</plist>
